:root {
    --primary-color: #0d440d;
    --secondary-color: #1a4049;
    --accent1-color: #a35200;
    --accent2-color: #f8fafc;
    --heading-font: "Rock Salt", "Ubuntu", sans-serif;
    --body-font: "Roboto", "Open Sans", Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: #333;
    background-color: var(--accent2-color);
}

main {
    display: flex;
    flex-direction: column;
}

/*header,
footer {
    width: 840px;
    margin: 0 auto;
}*/

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

/*Header*/

header {
    display: grid;
    grid-template-columns: 40% 60%;
    height: 130px;
    align-items: center;
    background-color: #e2e8f0;
}

header nav {
    margin: 0;
}

header img {
    display: block;
    height: 100px;
    margin: 0 auto;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: bold;
    transition: 0.3s ease;
}

nav ul li a:hover {
    color: var(--accent1-color);
    text-decoration: underline;
}

.main-contact {
    background-color: #f1f5f9;
}

.main-contact h1 {
    text-align: center;
    padding: 15px;
}

.contact-info address {
    font-style: normal;
    line-height: 1.7;
    margin-bottom: 20px;
    font-family: var(--body-font);
    color: var(--secondary-color);
}

.company-name {
    display: block;
    font-size: 1.2rem;
    color: #424242;
    font-weight: bold;
}

.contact-info address a {
    text-decoration: none;
}

.contact-info address a:hover {
    color: var(--primary-color);
}

.contact-info {
    text-align: center;
}

.grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.grid-layout iframe {
    border-radius: 10px;
    border: 3px solid var(--secondary-color);
    box-shadow: 0 8px 20px rgba(26, 64, 73, 0.2);
    margin: 0 auto;
}

/*Hero Section*/

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent1-color);
    color: #ffffff;
}

.hero article {
    position: absolute;
    top: 315px;
    padding: 1rem;
    max-height: 200px;
    overflow-y: auto;
    text-align: center;
    background-color: var(--secondary-color);
    margin-left: 120px;
    color: #ffffff;
}

.hero article h2 {
    color: #ffffff;
}

.hero article img {
    float: right;
    width: 125px;
}

/*Index Hero Section*/
#hero {
    position: relative;
    display: block;
    width: 100%;
}

#hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

#hero-box {
    position: relative;
    display: block;
    width: 100%;
}

#hero-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#hero-msg {
    position: absolute;
    top: 100px;
    left: 500px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid white;
    padding: 20px;
    z-index: 2;
}

#hero-msg h1 {
    color: #ffffff;
    font-size: 2.5rem;
    margin: 0;
    font-family: var(--body-font);
}

#hero-msg h4 {
    font-family: var(--body-font);
    color: #fcdf3e;
    margin-top: 10px;
    text-align: center;
}

.home-title {
    text-align: center;
}

.button-box {
    padding: 10px;
}

.cta-button {
    background-color: #d9a066;
    color: #1a1a1a;
    text-decoration: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #b88655;
}

.cta-button {}

/*Newsletter Section*/

input,
label {
    font-size: 1rem;
    margin: 5px 0;
    padding: 0.5rem;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.newsletter {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    align-items: center;
    background-color: #265e6b;
    padding: 50px 0;
}

.river-box {
    grid-column: 2/8;
    grid-row: 1;
    max-width: 640px;
    margin: 0 auto;
    display: block;
    position: relative;
}

.river-box img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    margin: 0;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.news-form {
    grid-column: 6/10;
    grid-row: 1;
    z-index: 5;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

}

.news-form form fieldset {
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 20px;
    border: none;
    border-radius: 8px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.news-form form button {
    background-color: var(--accent1-color);
    color: #f0f0f0;
    display: block;
    font-size: 1rem;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}

.news-form form button:hover {
    background-color: #100c49;
    color: #e6e2e2;
}

.new-title {
    font-size: 1.25rem;
    text-align: center;

}

/*History Section*/

.history-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #f1f5f9;

}

.history-section img {
    height: 125px;
    width: auto;
    border-radius: 8px;
}

.history-section div {
    justify-self: center;
    text-align: center;
}

.history-section div h2 {
    margin: 0;
}

/*Adventure Section*/

.adventures-section {
    background-color: #e2e8f0;
    display: block;
    text-align: center;
    margin: 20px 0;
}

.adventures-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin: 20px 0;
}

.adventures-container figure {
    margin: 0;
    text-align: center;
}

.adventures-container img {
    width: 100%;
    height: 125px;
    object-fit: cover;
    border-radius: 8px;
}

.adventures-container figcaption {
    margin-top: 10px;
    font-weight: bold;
    color: var(--primary-color);
}

/*Formulario*/

.contact-form {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.form-item.flex-item label {
    display: flex;
    align-items: center;
    gap: 10px;

    margin: 5px 0;
    cursor: pointer;
}

.form-item:not(.flex-item) label {
    display: block;
    text-align: left;
    font-weight: bold;
}

.checkbox-item {
    display: flex;
    align-items: center;
}

input[type="radio"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

fieldset {
    border: 2px solid var(--secondary-color);
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;

}

legend {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--accent1-color);
    padding: 0 10px;
}

.button-form {
    margin: 0 auto;
    background-color: var(--accent1-color);
    color: #f0f0f0;
    display: block;
    font-size: 1.2rem;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
}

.button-form:hover {
    background-color: var(--secondary-color);
    color: #e6e2e2;
}

/*Employees Section*/

.employees {
    background-color: #e2e8f0;
    display: block;
    text-align: center;
    margin-top: 40px;
}

.employees-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px 0;
}

.employees-container figure {
    margin: 0;
    text-align: center;
}

.employees-container img {
    width: 70%;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
}

.employees-container figcaption {
    margin-top: 10px;
    font-weight: bold;
    color: var(--primary-color);
}

/*Footer*/

footer {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: var(--secondary-color);
    color: var(--accent2-color);
}

footer img {
    width: 100px;
}

footer p {
    flex: 1;
    text-align: center;
    margin: 0;
    padding-left: 170px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia {
    display: flex;
    gap: 10px;
    margin: 0;
}

.socialmedia img {
    width: 40px;
    height: auto;
}

.history-section,
.adventures-section {
    margin: 0;
    padding: 40px 20px;
}