table,
th,
td,
thead th,
tfoot tr {
    border: 1px solid black;
    border-collapse: collapse;
    letter-spacing: 1px;
}

table thead tr th {
    background-color: black;
    color: white;
    border: 1px solid green;
}

table tfoot tr td {
    background-color: black;
    color: white;
}

th,
td {
    border: 1px solid red;
    text-align: center;
}

.classone {
    background-color: rgb(221, 221, 221);
}

.classtwo {
    background-color: rgb(192, 192, 192);
}