/* Configuramos al Padre */
.contenedor-padre {
    display: flex;
    /* Activamos Flexbox */
    justify-content: space-between;
    /* Empuja el logo a la izquierda y los enlaces a la derecha */
    align-items: center;
    /* Centra todo verticalmente */
    background-color: #333;
    padding: 1rem 2rem;
    color: white;
}

/* Configuramos a los Hijos (que también pueden ser padres) */
.enlaces-hijos {
    display: flex;
    /* ¡Flexbox dentro de Flexbox! */
    justify-content: space-between;
    /* Crea espacio entre los botones */
    list-style: none;
    /* Quita los puntitos de la lista */
}