:root{
    --borde-estandar: 1px solid black;
    --color-fondo-principal: darkblue;
    --box-shadow: 0 0 30px gray;

}


main {
    max-width: 840px;
}

aside {
    width: 30rem;
    margin: 1rem;
    padding: 1rem;
    border: var(--borde-estandar);
    background-color: #d9e3e8;
    color: hsla(200,0%,0%,.7);
}
aside img{
    width: 200px;
    height: auto;
    border: var(--borde-estandar);
    padding: 2px;
    box-shadow: var(--box-shadow);
}


nav {
    color: white;
    background-color: var(--color-fondo-principal);
    padding: 10px;
}

nav a{
    color: white;
    display: block;
    padding: 20px;

}

h1 {
    color: var(--color-fondo-principal);
}

main img {
    width: 200px;
    height: auto;
    border: var(--borde-estandar);
    padding: 2px;
    box-shadow: var(--box-shadow);
}

p {
    padding: 0;

}

footer {
    margin-top: 15px;
    border-top: var(--borde-estandar);
    text-align: center;


}