:root {
    --primary-color: darkblue;
    --main-width: 840px;
    --text-color: #333;
    --border-color: rgba(0, 0, 0, 0.2);
    --shadow-color: gray;
    --standard-padding: 1rem;
    --secondary-bg: #eee;
}

main {
    max-width: var(--main-width);
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--primary-color);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px var(--shadow-color);
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    margin: var(--standard-padding);
    border: 1px solid var(--border-color);
    padding: var(--standard-padding);
    background-color: var(--secondary-bg);
    color: var(--text-color);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 2rem;
    border-top: 1px solid #000;
    text-align: center;
}