* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: darkblue;
    --color-secondary: #333;
    --color-background: #eee;
    --color-text-light: white;
    --color-border: black;
    --color-shadow: gray;

    --spacing-small: 1rem;
    --spacing-medium: 2rem;

    --img-aside-width: 200px;
    --img-main-width: 150px;

    --aside-width: 25rem;
    --main-max-width: 840px;

    --border-thin: 1px solid var(--color-border);
}

main {
    max-width: 840px;

}

aside {
    width: 25rem;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0 / 0.5);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

nav {
    background-color: var(--color-primary);
    padding: var(--spacing-small);
}

nav a {
    color: var(--color-text-light);
}

h1 {
    color: var(--color-primary);
}

aside {
    width: var(--aside-width);
    margin: var(--spacing-small);
    border: var(--border-thin);
    padding: var(--spacing-small);
    background-color: var(--color-background);
    color: var(--color-secondary);
    position: relative;
}

aside h2 {
    position: absolute;
    top: 1rem;
    left: 150px;
}

main {
    max-width: var(--main-max-width);
}

main img {
    width: var(--img-main-width);
    border: var(--border-thin);
    padding: 2px;
    box-shadow: 0 0 30px var(--color-shadow);
    float: right;
    margin: 0 0 1rem 1rem;
}

footer {
    margin-top: var(--spacing-medium);
    border-top: var(--border-thin);
    text-align: center;
}

/*Class Selectors*/
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: #eee;
    color: #333;

}